@import url(https://fonts.bunny.net/css?family=architects-daughter:400|raleway:400);

* {
  box-sizing: border-box;
}

body {
  background: #e8e0d5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Architects Daughter", handwriting;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
}

.formContainer {
  background: #b57a66;
  padding: 1rem 1.5rem;
  border-radius: 20px;
}

.innerFormContainer {
  display: flex;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input,
button {
  all: unset;
}

input {
  border-bottom: solid 2px #dfcfbe;
  width: 300px;
}

button {
  background: #dfcfbe;
  border-radius: 15px;
  padding: 0.2rem 0.3rem;
  margin-left: auto;
}

.explanation::before {
  content: "💡 ";
}
